.ListItemButton {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
    border: none;
    text-align: left;
    margin-bottom: 10px;
}

.selected {
    background-color: #ddd;
}

h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.listTime {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    align-self: flex-end;
}