

.active {
    background-color: red;
}


.workSpace {
    display: flex;
    justify-content: space-evenly;
}


body.modal-open {
    overflow: hidden;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.modal-body {
    margin-bottom: 20px;
}

/* Стили для body с классом modal-open */
.modal-open {
    overflow: hidden;
}